body {
    background-color: rgba(210, 247, 255, 0.945);
  }

  hr {
    width: 10%;
    border-style: dotted none none;
    border-width: 15px;
    border-color: white;
  }

img {
  border-radius: 50%;
  width: 10rem;
}

h1 {
    color: #66BFBF;
    font-style: italic;
}

h3 {
    color: #66BFBF;
}
